{% extends 'base.html' %}

{% block content %}
<div class="blockquote text-center mb-5">
    <h1 class="display-1">{% block title %} MyDreams {% endblock %}</h1>
    <p>A place to record your dreams.</p>

</div>
<hr>
<div class="row justify-content-center">
    <div class="col col-lg-6">
        {% for post in posts %}
        <div class="card" style="margin-top:10pt;background:inherit">
            <div class="card-body">
                <a href="{{ url_for('post', post_id=post['id']) }}">
                    <h2 class="card-title" style="text-decoration:none">{{ post['title'] }}</h2>
                </a>
                <span class="card-subtitle mb-2">{{ post['created'] }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}